<apex:page showheader="true" standardstylesheets="false" sidebar="false" standardcontroller="Group_Event__c" extensions="skedCCGroupEventCtrl">
<head>
  <meta charset="UTF-8" />
  <title>EE - Single Job Details</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js"></script>
  <script>svg4everybody(); // run it now or whenever you are ready</script>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  
  <link rel="stylesheet" href="{!URLFOR($Resource.sked_CC_Vendors, '/slds/styles/salesforce-lightning-design-system-vf.min.css')}" />
  <link rel="stylesheet" href="{!URLFOR($Resource.sked_CC_Vendors, '/jquery-ui-custom/jquery-ui.min.css')}" />
  <link rel="stylesheet" href="{!URLFOR($Resource.sked_CC_Vendors, '/jquery-ui-custom/jquery-ui.theme.min.css')}" />
  <link rel="stylesheet" href="{!URLFOR($Resource.sked_CC_Vendors, '/jquery-time-picker/jquery.timepicker.css')}" />

  <!-- full-service-booking-grid.css -->
  <link rel="stylesheet" href="{!URLFOR($Resource.sked_CC_Dist, '/styles/group-event-details.css')}" />
  
  <style>
      .sked-slds, td,
      h1, h2, h3, h4, h5, h6 {
        font-family: "Salesforce Sans",Arial,sans-serif !important;
      }

      .sked-slds button {
        margin-top: 0;
        margin-bottom: 0;
      }

      .bodyDiv .outerNoSidebar {
        padding: 0;
      }

      body.sfdcBody { 
        /*background: none;*/
      }

      .noSidebarCell {
        padding: 2px 0 0 0;
      }

      .bPageFooter {
        padding-bottom: 10px;
        visibility: hidden;
      }

      .bodyDiv {
        visibility: hidden;
      }

      .sked-slds button {
        font-weight: normal;
      }

      ul li, ol li {
        margin-left: 0;
      }
    </style>  

</head>

<body style="margin: 0; padding: 0; overflow: hidden;">
  <!-- app: easy employer -->
  <div ng-app="app" id="root" class="sked-slds ng-cloak">
    <!-- main component -->
    <group-event-details></group-event-details>
  </div>

  <!-- jquery -->
  <script src="{!URLFOR($Resource.sked_CC_Vendors, '/jquery/jquery-3.1.1.min.js')}"></script>
  <script src="{!URLFOR($Resource.sked_CC_Vendors, '/jquery-ui-1.12.1.custom/jquery-ui.min.js')}"></script>
  <!-- angularjs -->
  <script src="{!URLFOR($Resource.sked_CC_Vendors, '/angularjs/angular.min.js')}"></script>
  <script src="{!URLFOR($Resource.sked_CC_Vendors, '/angularjs/angular-sanitize.min.js')}"></script>
  <script src="{!URLFOR($Resource.sked_CC_Vendors, '/ng-jquery-ui-date-picker.js')}"></script>
  <!-- clickoutside -->
  <script src="{!URLFOR($Resource.sked_CC_Vendors, '/clickoutside.directive.js')}"></script>
  <!-- jquery time picker -->
  <script src="{!URLFOR($Resource.sked_CC_Vendors, '/jquery-time-picker/jquery.timepicker.min.js')}"></script>
  <!-- lodash -->
  <script src="{!URLFOR($Resource.sked_CC_Vendors, '/lodash.min.js')}"></script>
  <!-- moment -->
  <script src="{!URLFOR($Resource.sked_CC_Vendors, '/momentjs/moment.min.js')}"></script>
    
  <!-- app -->
  <script src="{!URLFOR($Resource.sked_CC_Dist, '/scripts/gd.js')}"></script>

  <!-- app: project-details bootstrap -->
  <script>
    jQuery(document).ready(function() {
      var totalSFLayoutHeight = function() {
        var globalHeaderHeight = jQuery('.globalHeaderBar').outerHeight() || 0;
        var headerHeight = jQuery('.bPageHeader').outerHeight() || 0;
        var footerHeight = jQuery('.bPageFooter').outerHeight() || 0;
        return globalHeaderHeight + headerHeight + footerHeight;
      }

      var fixBodyHeight = function(){
        jQuery('#root').css('height', 'calc(100vh - ' + totalSFLayoutHeight() + 'px)');
        jQuery('.bodyDiv').css('visibility', 'visible');
        jQuery('.bPageFooter').css('visibility', 'visible');
        // jQuery('body.sfdcBody').css('background', '#1797c0');
      }
      
      jQuery(window).on('resize', function() {
        fixBodyHeight();
      })
      fixBodyHeight();
    });

    (function (angular, apiController) {
      angular.module('skedApp.core')
      .config([
        'apiProvider',
        'envProvider',
        function (apiProvider, envProvider) {
          apiProvider.setController(apiController);
          apiProvider.setRemotingConfiguration({
            escape: false
          });
          //apiProvider.enableDebug();
          envProvider.setVariables({
            RESOURCE_PATH: "{!URLFOR($Resource.sked_CC_Vendors, '/')}",
            DIST_PATH: "{!URLFOR($Resource.sked_CC_Dist, '/')}"
          });
        }
      ]);

    })(angular, skedCCGroupEventCtrl);
  </script>

</body>
  
</apex:page>